{{template "header.html" .}}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            <h1 class="mb-4">{{.event.Title}}</h1>
            <p class="text-muted">{{formatDisplay .event.StartTime}} - {{formatDisplay .event.EndTime}}</p>
            <img src="{{if .event.Image}}{{.event.Image}}{{else}}/static/images/default_images/event_default.jpg{{end}}" 
                 class="img-fluid rounded mb-4" alt="Event Image">
            <p class="lead">{{.event.Description}}</p>
            <hr class="my-4">
            <p><strong>Location:</strong> {{.event.Location}}</p>
            <p><strong>Status:</strong> 
                {{if eq .event.Status "draft"}}<span class="badge bg-warning">Draft</span>{{end}}
                {{if eq .event.Status "published"}}<span class="badge bg-success">Published</span>{{end}}
            </p>
            <a href="/user/dashboard" class="btn btn-primary mt-4">Back to Dashboard</a>
        </div>
    </div>
</div>
{{template "footer.html" .}}